.App {
  text-align: center;
  font-family: "Reenie Beanie";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Dropdown Button  */
#activityByNum {
  background-color: #3498db;
  color: white;
  padding: 3px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}

/* Dropdown button on hover */
#activityByNum:hover {
  background-color: #2980b9;
}

.dropdown-content {
  background-color: #f1f1f1;
  min-width: 160px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropListContainer {
  text-align: center;
}
.wrapper {
  display: flex;

  justify-content: center;

  padding: 10px;
}
.ActivityList {
  color: white;
  display: block;
  height: 10em;
  width: 15em;
  padding: 10px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  margin: 1em;
  list-style: none;

  font-size: 1.5em;
  background-color: #3498db;
}
.ActivityList li {
  margin-top: 30px;
}
button {
  border-radius: 30px;
  border-color: #3498db;
  font-size: 16px;
  margin-top: 25px;
  padding: 10px;
  background-color: white;
  color: #3498db;
}
button:hover {
  background-color: #e9eef0;
}
label {
  margin-right: 5px;
  font-size: 1.1em;
}
